{% extends 'base.html.twig' %}

{% block title %}{{eventName}} | {{ parent() }}{% endblock %}

{% block body %}

    <div class="my-20"
        {{ react_component('Event', { id: app.request.get('id') } )}}>
    </div>

{% endblock %}
