{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} | {{ parent() }}{% endblock %}

{% block body %}

    {# <pre>{{dump(request)}}</pre> #}

    <div
        class="my-20"
        {{ react_component('Event', { event: event, user: user, entries: entries } )}}>
    </div>

{% endblock %}
