{% extends 'base.html.twig' %}

{% block title %}Tournois | {{ parent() }}{% endblock %}

{% block body %}
    <div class="mt-12"
        {{ react_component('TournamentPage', 
        { tournaments: tournaments, races: races, mode: app.request.get('id') }) }} ></div>

{% endblock %}
