@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Montserrat', sans-serif;
    }
}

@keyframes slideInTop {
  from {transform: translateY(-2em);} 
  to {transform: translateY(0em);}
}

@keyframes slideInLeft {
  from {transform: translateX(4em);}
  to {transform: translateX(0em);}
}

@keyframes slideInScaleLeft {
  from 
  {
    transform: translateX(4em) scaleX(.5);
    transform-origin: 100% 50%;
  }
  to 
  {
    transform: translateX(0em) scaleX(1);
    transform-origin: center;
  }
}

@keyframes slideInRight {
  from {transform: translateX(-2em);}
  to {transform: translateX(0em);}
}

@keyframes slideInBottom {
  from {transform: translateY(2em);}
  to {transform: translateY(0em);}
}

@keyframes zoomIn {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

@keyframes shake {
  0% {transform: translateX(0);}
  25% {transform: translateX(.5em);}
  50% {transform: translateX(-.75em);}
  75% {transform: translateX(.5em);}
  100% {transform: translateX(0);}
}

#finished {
  animation: slideInTop .35s ease-in-out;
}

.slideLeft {
  animation: slideInLeft .35s ease-out;
}

.slideScaleLeft {
  animation: slideInScaleLeft .35s ease-out;
}

#sort {
  animation: slideInRight .35s ease-out;
}

.zoomIn {
  animation: zoomIn .35s ease-out;
}

.denied {
  animation: shake .5s ease-in-out
}





